<footer class="l-footer" id="link-contact">
  <div class="c-container">
    <div class="l-footer__title">
      <svg viewBox="0 0 156 119" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle class="stroke" cx="78" cy="75" r="43"></circle>
        <circle class="fill" cx="78" cy="75" r="37" fill=""></circle>
        <g>
          <path
            d="M94.1101 66L79.3945 76.2753C79.2736 76.3152 79.2551 76.3484 79.2471 76.3504C79.1727 76.37 79.0027 76.4161 78.9529 76.4255C78.8546 76.4438 78.674 76.4986 78.6587 76.5007C78.3533 76.5345 77.6327 76.5406 77.3346 76.5007C77.3193 76.4986 77.1181 76.4431 77.0404 76.4255C77.0258 76.4222 76.8817 76.2787 76.7462 76.3504L61.8832 66.0751L94.1101 66Z"
            fill="white"></path>
          <path d="M61.1474 86.3252H61.0737H61V86.2501L61.0737 66.8252H61.1474L72.9199 75.2627L61.1474 86.3252Z" fill="white"></path>
          <path d="M94.9934 85.9503C94.9953 86.0457 95.0206 86.2752 94.9568 86.3253L83.0741 75.2628L94.8831 66.9004C94.9821 73.2497 94.8446 79.603 94.9934 85.9503Z" fill="white"></path>
          <path
            d="M76.1572 77.3251C76.2754 77.3813 76.3146 77.3752 76.3777 77.4002C76.4673 77.4361 76.5112 77.4476 76.5982 77.4753C76.6559 77.4936 76.7031 77.5241 76.8186 77.5505C76.9382 77.5708 77.0491 77.6107 77.1865 77.6256C77.7961 77.7136 78.1952 77.7136 78.8055 77.6256C78.943 77.6107 79.0545 77.5708 79.1734 77.5505C79.2883 77.5241 79.3401 77.4923 79.3939 77.4753C79.4802 77.4489 79.5293 77.4334 79.6143 77.4002C79.6794 77.3745 79.7186 77.3792 79.8348 77.3251C80.6888 77.0002 81.2991 76.4519 82.0787 75.9753L93.9614 86.9255V87.0006H62.1402L73.9127 75.9753C74.6983 76.4262 75.3179 76.9975 76.1566 77.3251H76.1572Z"
            fill="white"></path>
        </g>
        <g>
          <path
            d="M9.64001 40.4901C9.16001 41.0601 8.66001 41.4901 8.15001 41.7801C7.63001 42.0701 7.13001 42.2101 6.64001 42.1801C6.15001 42.1601 5.73001 41.9401 5.36001 41.5401C4.85001 40.9801 4.58001 40.2401 4.57001 39.3101C4.55001 38.3801 4.79001 37.4101 5.27001 36.3901L3.39001 34.3401C2.99001 34.7801 2.60001 35.1901 2.20001 35.5901C1.80001 35.9801 1.42001 36.3401 1.05001 36.6401L0.0100098 35.6401C0.35001 35.3801 0.74001 35.0501 1.16001 34.6401C1.59001 34.2301 2.01001 33.7801 2.44001 33.3001L0.55001 31.2401L1.56001 30.3101L3.34001 32.2601C3.70001 31.8201 4.02001 31.3901 4.31001 30.9801C4.60001 30.5701 4.82001 30.2101 4.97001 29.8901L6.02001 30.7701C5.60001 31.5401 5.02001 32.3801 4.28001 33.2801L5.98001 35.1301C6.46001 34.4101 7.06001 33.7201 7.76001 33.0701C8.48001 32.4101 9.19001 31.9601 9.89001 31.7001C10.59 31.4401 11.26 31.3701 11.87 31.4801C12.48 31.5901 13 31.8801 13.43 32.3401C14.09 33.0601 14.38 33.8301 14.29 34.6401C14.2 35.4501 13.79 36.1801 13.06 36.8401C11.85 37.9201 10.52 38.0401 9.08001 37.1901C9.17001 37.0401 9.28001 36.8101 9.41001 36.5201C9.54001 36.2301 9.62001 36.0001 9.66001 35.8301C10.12 36.1101 10.55 36.2601 10.94 36.2501C11.33 36.2501 11.7 36.0801 12.07 35.7501C12.47 35.4001 12.69 35.0001 12.73 34.5601C12.77 34.1201 12.62 33.7201 12.29 33.3601C11.89 32.9201 11.35 32.7501 10.69 32.8601C10.03 32.9701 9.34001 33.3501 8.62001 34.0101C8.26001 34.3401 7.93001 34.6901 7.65001 35.0401C7.36001 35.4001 7.11001 35.7601 6.89001 36.1201L9.67001 39.1501C9.88001 39.3801 9.98001 39.5901 9.98001 39.7901C9.98001 39.9901 9.86001 40.2201 9.65001 40.4701L9.64001 40.4901ZM8.07001 40.1701C8.19001 40.0501 8.26001 39.9501 8.29001 39.8701C8.32001 39.7901 8.29001 39.7001 8.19001 39.6001L6.23001 37.4701C5.98001 38.1201 5.87001 38.7101 5.89001 39.2601C5.91001 39.8001 6.07001 40.2301 6.35001 40.5501C6.56001 40.7801 6.82001 40.8501 7.12001 40.7601C7.42001 40.6701 7.74001 40.4801 8.05001 40.1801L8.07001 40.1701ZM10.73 29.5501C10.37 29.5301 9.93001 29.5501 9.42001 29.6201C8.91001 29.6801 8.39001 29.7701 7.87001 29.8901C7.35001 30.0001 6.91001 30.1401 6.54001 30.2901L6.36001 28.9101C6.72001 28.7801 7.16001 28.6601 7.67001 28.5401C8.18001 28.4201 8.70001 28.3101 9.22001 28.2301C9.74001 28.1401 10.19 28.1001 10.57 28.1001C10.57 28.2101 10.57 28.3601 10.6 28.5701C10.62 28.7801 10.64 28.9701 10.67 29.1701C10.7 29.3601 10.72 29.4901 10.74 29.5601L10.73 29.5501Z"
            fill="white"></path>
          <path
            d="M19.67 32.76L12.08 20.96L17.09 17.74L19.93 22.15L16.12 24.6L20.87 31.99L19.67 32.76ZM14.43 21.99L17.07 20.29L16.48 19.37L13.84 21.07L14.43 21.99ZM15.54 23.71L18.18 22.01L17.58 21.08L14.94 22.78L15.54 23.71ZM28.44 27.08C28.31 26.92 28.14 26.74 27.93 26.53C27.72 26.32 27.55 26.17 27.41 26.08L28.38 25.46C28.57 25.34 28.68 25.22 28.71 25.1C28.74 24.98 28.71 24.84 28.6 24.68L24.9 18.93L21.09 21.38L18.25 16.97L23.27 13.74L30.06 24.29C30.32 24.7 30.41 25.08 30.32 25.42C30.23 25.76 29.94 26.09 29.44 26.41L28.42 27.07L28.44 27.08ZM21.35 28.46L18.86 24.58L23.69 21.47L26.18 25.35L21.35 28.46ZM20.6 18.03L23.24 16.33L22.65 15.41L20.01 17.11L20.6 18.03ZM21.92 26.74L24.38 25.16L23.13 23.21L20.67 24.79L21.93 26.74H21.92ZM21.7 19.75L24.34 18.05L23.74 17.12L21.1 18.82L21.7 19.75Z"
            fill="white"></path>
          <path
            d="M37.51 19.2699C37.19 19.6999 36.82 19.9699 36.4 20.0999C35.98 20.2299 35.49 20.0999 34.94 19.7199C34.46 19.3699 33.96 18.9399 33.47 18.4299C32.97 17.9199 32.49 17.3499 32.03 16.7299C31.56 16.1099 31.14 15.4799 30.76 14.8299C30.38 14.1899 30.07 13.5599 29.82 12.9599L31.21 12.3899C31.4 12.8999 31.65 13.4299 31.96 13.9799C32.27 14.5299 32.61 15.0699 32.99 15.5899C33.37 16.1099 33.76 16.5999 34.16 17.0399C34.56 17.4799 34.96 17.8499 35.35 18.1299C35.63 18.3299 35.87 18.4099 36.06 18.3699C36.25 18.3299 36.4 18.1999 36.53 17.9999C36.7 17.7299 36.86 17.3899 37.01 16.9899C37.16 16.5899 37.25 16.2199 37.3 15.8999C37.44 16.0499 37.64 16.1999 37.9 16.3599C38.16 16.5199 38.38 16.6299 38.56 16.7099C38.49 17.1399 38.35 17.5899 38.16 18.0699C37.97 18.5499 37.75 18.9499 37.52 19.2699H37.51ZM42.18 14.1499C41.98 13.9199 41.69 13.6399 41.32 13.3199C40.95 12.9899 40.54 12.6599 40.1 12.3299C39.66 11.9999 39.22 11.6899 38.8 11.4099C38.38 11.1299 38.01 10.9299 37.71 10.7899L38.5 9.62988C38.83 9.78988 39.23 10.0099 39.68 10.2899C40.13 10.5699 40.59 10.8799 41.06 11.2199C41.53 11.5599 41.96 11.8899 42.34 12.2099C42.73 12.5299 43.03 12.8099 43.25 13.0599C43.04 13.1999 42.84 13.3699 42.63 13.5699C42.43 13.7799 42.28 13.9699 42.18 14.1399V14.1499Z"
            fill="white"></path>
          <path
            d="M47.54 10.6299C47.42 10.4699 47.24 10.2899 47 10.0899C46.77 9.88989 46.57 9.74989 46.41 9.65989C47.03 9.21989 47.63 8.69989 48.21 8.09989C48.79 7.49989 49.33 6.85989 49.83 6.16989C50.33 5.47989 50.77 4.77989 51.14 4.06989C51.51 3.35989 51.78 2.66989 51.95 2.00989L53.3 1.88989C53.92 2.50989 54.67 3.08989 55.56 3.62989C56.45 4.16989 57.4 4.62989 58.42 4.99989C59.44 5.36989 60.45 5.62989 61.46 5.77989C61.42 5.87989 61.36 6.02989 61.29 6.21989C61.22 6.41989 61.16 6.61989 61.09 6.81989C61.03 7.01989 60.98 7.18989 60.94 7.30989C59.98 7.10989 59.01 6.81989 58.03 6.43989C57.05 6.05989 56.12 5.60989 55.24 5.07989C54.36 4.54989 53.58 3.95989 52.9 3.31989C52.64 4.10989 52.24 4.91989 51.73 5.76989C51.22 6.61989 50.63 7.41989 49.97 8.18989L57.76 6.35989L58.07 7.66989L50.2 9.51989L49.91 8.26989C49.53 8.71989 49.14 9.13989 48.74 9.53989C48.33 9.93989 47.93 10.2999 47.52 10.6199L47.54 10.6299ZM51.47 16.9999L50.12 11.2499L58.97 9.16989L60.32 14.9199L51.47 16.9999ZM52.63 15.3599L58.53 13.9699L57.79 10.8099L51.89 12.1999L52.63 15.3599Z"
            fill="white"></path>
          <path
            d="M69.61 13.35L69.32 8.44999C68.9 8.88999 68.5 9.32999 68.13 9.76999C67.76 10.21 67.43 10.62 67.15 11.01L65.96 10.07C66.42 9.59999 66.93 9.08999 67.49 8.50999C68.05 7.92999 68.62 7.36999 69.23 6.80999L69.09 4.42999C68.6 4.56999 68.1 4.69999 67.61 4.81999C67.12 4.93999 66.72 5.03999 66.42 5.09999L66.05 3.75999C66.24 3.74999 66.5 3.70999 66.82 3.64999C67.14 3.58999 67.5 3.50999 67.88 3.40999C68.26 3.30999 68.64 3.21999 69.01 3.11999L68.83 0.0699902L70.2 -0.0100098L70.36 2.69999C70.49 2.65999 70.57 2.61999 70.63 2.58999L71.5 3.14999L70.56 5.70999C71.21 5.19999 71.88 4.76999 72.56 4.42999C73.24 4.07999 73.91 3.88999 74.59 3.84999C75.38 3.79999 76.09 3.90999 76.72 4.15999C77.35 4.40999 77.86 4.79999 78.24 5.32999C78.62 5.85999 78.84 6.52999 78.89 7.33999C78.96 8.49999 78.59 9.51999 77.77 10.4C76.96 11.28 75.73 11.94 74.1 12.36C74.02 12.16 73.9 11.92 73.73 11.64C73.56 11.36 73.39 11.13 73.23 10.97C74.07 10.8 74.82 10.56 75.45 10.23C76.09 9.89999 76.58 9.50999 76.93 9.03999C77.28 8.56999 77.43 8.02999 77.4 7.42999C77.35 6.57999 77.08 5.96999 76.59 5.61999C76.1 5.25999 75.46 5.10999 74.67 5.15999C74.05 5.19999 73.39 5.40999 72.7 5.79999C72 6.18999 71.32 6.66999 70.65 7.23999L71.01 13.28L69.64 13.36L69.61 13.35Z"
            fill="white"></path>
          <path
            d="M89.9 12.9799C89 12.8799 88.3 12.7299 87.79 12.5199C87.28 12.3099 86.95 11.9999 86.78 11.5999C86.61 11.1999 86.56 10.6599 86.63 9.98992L87.09 5.77992C86.36 5.77992 85.69 5.77992 85.07 5.81992C84.45 5.84992 83.93 5.87992 83.52 5.91992L83.5 4.44992C83.94 4.42992 84.48 4.42992 85.13 4.42992C85.77 4.42992 86.48 4.42992 87.24 4.43992L87.62 0.919922L89 1.06992L88.63 4.45992C89.26 4.47992 89.9 4.48992 90.54 4.51992C91.18 4.53992 91.81 4.55992 92.43 4.58992L92.82 0.999922L94.24 1.14992L93.86 4.64992C94.57 4.68992 95.23 4.72992 95.84 4.76992C96.44 4.80992 96.94 4.85992 97.35 4.89992L97.19 6.37992C96.33 6.22992 95.17 6.10992 93.72 5.99992L93.6 7.09992C93.54 7.62992 93.41 8.05992 93.19 8.37992C92.98 8.70992 92.65 8.93992 92.21 9.07992C91.77 9.21992 91.18 9.27992 90.43 9.25992C90.41 9.03992 90.37 8.79992 90.3 8.51992C90.23 8.23992 90.15 8.02992 90.05 7.86992C90.82 7.92992 91.35 7.88992 91.66 7.74992C91.97 7.60992 92.14 7.33992 92.18 6.94992L92.29 5.92992C91.67 5.88992 91.04 5.86992 90.4 5.83992C89.76 5.81992 89.12 5.79992 88.49 5.77992L88.03 9.95992C87.99 10.3399 88.03 10.6399 88.13 10.8499C88.24 11.0599 88.45 11.2199 88.76 11.3299C89.07 11.4399 89.51 11.5199 90.08 11.5899C90.45 11.6299 90.9 11.6599 91.41 11.6799C91.93 11.6999 92.46 11.6999 92.99 11.6899C93.53 11.6799 94.01 11.6399 94.43 11.5799C94.33 11.7699 94.25 12.0299 94.17 12.3599C94.09 12.6899 94.05 12.9299 94.04 13.0999C93.38 13.1399 92.67 13.1399 91.91 13.1199C91.15 13.0999 90.47 13.0499 89.87 12.9899L89.9 12.9799Z"
            fill="white"></path>
          <path
            d="M100.56 14.99C100.6 14.58 100.68 14.06 100.82 13.43C100.96 12.8 101.12 12.1 101.32 11.34C101.52 10.57 101.74 9.77998 101.99 8.97998C102.24 8.16998 102.49 7.38998 102.75 6.62998C103.01 5.86998 103.27 5.16998 103.52 4.53998C103.77 3.90998 104 3.38998 104.22 2.97998L105.5 3.68998C105.28 4.02998 105.05 4.48998 104.8 5.06998C104.55 5.64998 104.3 6.30998 104.05 7.03998C103.8 7.76998 103.56 8.51998 103.33 9.29998C103.1 10.08 102.89 10.84 102.7 11.58C102.51 12.32 102.36 13.01 102.24 13.63C102.12 14.25 102.05 14.76 102.02 15.16L100.57 15L100.56 14.99ZM106.14 16.3C105.4 16.07 104.86 15.7 104.54 15.19C104.22 14.68 104.14 14.15 104.31 13.6C104.41 13.25 104.61 12.96 104.92 12.72C105.22 12.49 105.61 12.34 106.09 12.27C106.56 12.2 107.1 12.26 107.69 12.43C108.09 12.54 108.47 12.68 108.83 12.85C108.95 12.35 109.09 11.76 109.26 11.09C109.43 10.41 109.62 9.66998 109.83 8.84998C109.15 8.69998 108.5 8.53998 107.86 8.36998C107.22 8.19998 106.7 8.04998 106.27 7.89998L106.57 6.41998C106.96 6.56998 107.48 6.74998 108.13 6.93998C108.78 7.12998 109.46 7.30998 110.18 7.47998C110.29 7.05998 110.41 6.61998 110.53 6.16998C110.65 5.71998 110.78 5.25998 110.91 4.79998L112.3 5.18998C112.17 5.61998 112.04 6.04998 111.92 6.48998C111.8 6.92998 111.67 7.34998 111.56 7.77998C112.21 7.90998 112.81 8.01998 113.36 8.09998C113.91 8.17998 114.33 8.22998 114.6 8.22998L114.2 9.64998C113.9 9.61998 113.48 9.55998 112.95 9.46998C112.42 9.37998 111.83 9.26998 111.2 9.14998C110.97 10.04 110.76 10.86 110.58 11.63C110.4 12.39 110.24 13.05 110.12 13.6C110.63 13.95 111.11 14.36 111.57 14.82C112.03 15.28 112.46 15.79 112.88 16.36C112.79 16.4 112.66 16.48 112.49 16.61C112.32 16.73 112.16 16.86 112.01 17C111.86 17.14 111.75 17.24 111.69 17.32C111.1 16.39 110.46 15.61 109.77 15C109.52 15.78 109.08 16.27 108.45 16.47C107.81 16.67 107.04 16.61 106.14 16.31V16.3ZM106.58 15.11C107.09 15.26 107.5 15.28 107.81 15.17C108.12 15.06 108.33 14.8 108.45 14.38L108.52 14.12C108.32 14.01 108.11 13.91 107.91 13.82C107.7 13.73 107.49 13.65 107.28 13.58C106.83 13.44 106.46 13.42 106.15 13.5C105.84 13.58 105.66 13.75 105.6 13.98C105.53 14.2 105.57 14.42 105.75 14.63C105.92 14.84 106.2 15 106.58 15.11Z"
            fill="white"></path>
          <path
            d="M120.35 20.84C119.4 20.4 118.7 19.87 118.24 19.24C117.78 18.62 117.61 17.78 117.73 16.73L119.22 16.67C119.11 17.25 119.2 17.78 119.47 18.25C119.75 18.72 120.25 19.12 120.99 19.46C121.62 19.75 122.27 20.02 122.95 20.27C123.63 20.52 124.27 20.72 124.88 20.87C125.49 21.03 126.01 21.13 126.43 21.17C126.39 21.27 126.32 21.42 126.25 21.63C126.17 21.84 126.11 22.05 126.04 22.26C125.98 22.47 125.94 22.62 125.93 22.72C125.48 22.66 124.95 22.55 124.33 22.36C123.71 22.18 123.05 21.95 122.37 21.69C121.68 21.43 121 21.14 120.34 20.83L120.35 20.84ZM122.25 11.32L122.87 9.94995C123.09 10.16 123.39 10.38 123.76 10.61C124.13 10.84 124.55 11.08 125.01 11.31C125.47 11.54 125.93 11.75 126.4 11.94C126.87 12.13 127.32 12.29 127.74 12.42C128.16 12.55 128.52 12.63 128.82 12.68L128.21 14.06C127.93 14.02 127.58 13.94 127.17 13.8C126.75 13.66 126.3 13.5 125.83 13.31C125.36 13.12 124.89 12.91 124.43 12.68C123.97 12.45 123.55 12.22 123.17 11.98C122.79 11.74 122.48 11.52 122.26 11.32H122.25Z"
            fill="white"></path>
          <path
            d="M132.46 28.95C132.54 28.75 132.62 28.49 132.69 28.16C132.76 27.83 132.78 27.56 132.76 27.32C133.68 28.05 134.55 28.59 135.38 28.95C136.2 29.3 136.93 29.44 137.56 29.38C138.19 29.31 138.68 29.01 139.04 28.48C139.35 28.02 139.41 27.55 139.21 27.07C139.01 26.59 138.65 26.18 138.12 25.82C137.53 25.42 136.82 25.13 136 24.94C135.18 24.75 134.29 24.77 133.32 25L133.22 25.03H133.2L132.72 23.65C133.45 23.51 134.22 23.17 135.04 22.62C135.85 22.07 136.62 21.43 137.35 20.7C136.04 19.9 134.94 19.17 134.06 18.5L134.79 17.21C135.17 17.55 135.66 17.94 136.29 18.37C136.91 18.8 137.59 19.23 138.31 19.66C138.65 19.26 138.97 18.87 139.27 18.47C139.57 18.07 139.82 17.7 140.04 17.33L141.33 18.19C141.12 18.52 140.87 18.88 140.58 19.26C140.29 19.64 139.97 20.03 139.61 20.43C140.26 20.8 140.9 21.15 141.51 21.48C142.13 21.81 142.7 22.09 143.23 22.33C143.76 22.57 144.2 22.74 144.56 22.86L143.7 24.03C143.07 23.79 142.3 23.43 141.4 22.97C140.5 22.51 139.58 22 138.64 21.45C138.21 21.88 137.76 22.3 137.28 22.7C136.81 23.1 136.32 23.46 135.82 23.78C136.44 23.83 137.02 23.92 137.55 24.08C138.08 24.23 138.54 24.45 138.95 24.72C139.53 25.11 139.99 25.56 140.32 26.07C140.65 26.58 140.82 27.11 140.83 27.67C140.84 28.23 140.66 28.78 140.3 29.32C139.58 30.39 138.55 30.92 137.19 30.91C135.83 30.89 134.25 30.23 132.45 28.92L132.46 28.95Z"
            fill="white"></path>
          <path
            d="M145 38.3599C145.06 38.2699 145.12 38.1199 145.2 37.9299C145.28 37.7299 145.35 37.5299 145.41 37.3299C145.47 37.1299 145.5 36.9599 145.49 36.8199C146.73 37.9999 147.85 38.7199 148.83 38.9699C149.81 39.2199 150.6 39.0199 151.19 38.3799C151.57 37.9599 151.7 37.4999 151.57 36.9899C151.44 36.4799 151.13 35.9999 150.64 35.5499C150.29 35.2299 149.85 34.9299 149.32 34.6699C148.8 34.4099 148.23 34.2299 147.63 34.1299C147.03 34.0299 146.42 34.0699 145.81 34.2299L145.24 32.9099C145.64 32.7699 146.09 32.5499 146.58 32.2499C147.07 31.9499 147.56 31.5999 148.05 31.2199C148.54 30.8399 148.98 30.4599 149.38 30.0899C149.78 29.7199 150.09 29.3999 150.31 29.1199L151.32 30.2899C150.96 30.6999 150.47 31.1599 149.85 31.6699C149.23 32.1799 148.57 32.6399 147.88 33.0499C148.61 33.1399 149.3 33.3299 149.95 33.6099C150.6 33.8899 151.14 34.2299 151.57 34.6199C152.15 35.1499 152.57 35.7099 152.82 36.2999C153.07 36.8899 153.16 37.4499 153.08 37.9999C153 38.5499 152.75 39.0499 152.33 39.5099C151.53 40.3799 150.5 40.7499 149.26 40.6199C148.01 40.4899 146.59 39.7399 144.98 38.3899L145 38.3599ZM153.89 32.6199C153.84 32.3099 153.75 31.9599 153.63 31.5699C153.51 31.1699 153.36 30.7699 153.19 30.3699C153.02 29.9599 152.84 29.5799 152.65 29.2299C152.46 28.8799 152.28 28.5899 152.11 28.3599L153.53 27.8999C153.67 28.1299 153.82 28.4199 154 28.7899C154.17 29.1499 154.35 29.5399 154.53 29.9499C154.71 30.3599 154.87 30.7599 155.01 31.1399C155.15 31.5199 155.26 31.8599 155.33 32.1399L153.88 32.6299L153.89 32.6199Z"
            fill="white"></path>
        </g>
      </svg>
    </div>
    <div class="l-footer__mail">
      <a href="mailto:mikuro9023@gmail.co5m">mikuro9023@gmail.co5m</a>
    </div>
  </div>
  <div class="l-footer__en"></div>
</footer>

<style lang="scss">
  @keyframes loop_en {
    0% {
      background-position-x: 0;
    }
    to {
      background-position-x: res_px_max(-1790px, -3581px);
    }
  }
  .l-footer {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1600 / 659;
    width: 100%;
    background: var(--color-gradient-point);
    mask-image: url('/img/common/footer_mask.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center top;
    margin-block-start: res_px_max(-135px, -270px);
    z-index: 3;
    padding-block: res_px_max(120px, 230px);
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-image: url('/img/common/bg_noize.png');
      background-size: res_px_max(250px, 500px) res_px_max(250px, 500px);
      opacity: 0.17;
      background-repeat: repeat;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      mix-blend-mode: overlay;
    }
    &__title {
      inline-size: res_px_max(130px, 160px);
      margin-inline: auto;
      margin-block-end: res_px_max(16px, 24px);
      :global(.stroke) {
        stroke-width: 2px;
        stroke: var(--color-point-50);
      }
      :global(.fill) {
        fill: var(--color-point-50);
      }
    }
    &__mail {
      inline-size: res_rem_max(300px, 370px);
      margin-inline: auto;
      a {
        display: block;
        inline-size: 100%;
        background-color: var(--color-white-00);
        color: var(--color-point-50);
        text-align: center;
        border-radius: 100vmax;
        padding: res_px_max(8px, 16px);
        font-size: res_rem_max(14px, 18px);
        transition: all var(--dur) ease-in-out;
        @include hover {
          &:hover {
            background-color: var(--color-point-50);
            color: var(--color-white-00);
          }
        }
      }
    }
    &__en {
      position: absolute;
      top: res_px_max(122px, 243px);
      left: 0;
      width: 100%;
      z-index: -1;
      &::before {
        content: '';
        display: block;
        inline-size: 100%;
        block-size: res_rem_max(150px, 309px);
        background-image: url('/img/common/footer_en.png');
        background-size: auto 100%;
        background-repeat: repeat-x;
        background-size: auto 100%;
        background-repeat: repeat-x;
        animation: loop_en 50s linear infinite alternate;
        @include mq-sp {
          animation: loop_en 30s linear infinite alternate;
        }
      }
    }
  }
</style>
